:host {
    .create-task{
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        display: flex;
        flex-direction: row;
        width: 1000px;
        height: 100px;
        border-style: solid;
        border-radius: 5px;
        border-width: 2px;
        border-color: black;
    }

    .priority-select-box{
        margin-left: 30px;
    }

    .enter-task-text-box{
        margin-left: 50px;
        width: 480px;
    }

    .add-task-button{
        margin-left: 50px;
        border-radius: 2px;
    }
}