<div [formGroup]="filtersForm">
    <dx-select-box [dataSource]="dataSourceForSelectBox"
                   [formControlName]="formControlNameForSelectBox"
                   fieldTemplate="field"
                   [displayExpr]="LIcon.TEXT"
                   [valueExpr]="LIcon.VALUE"
                   [label]="labelName"
                   labelMode="static"
                   [class]="className">
        <div *dxTemplate="let data of 'field'"
             class="sortNFiltersField">
            <dx-button [icon]="data.icon"
                       class="select-box-button"/>
            <dx-text-box [value]="data.text"
                         [readOnly]="true"/>
        </div>            
    </dx-select-box>
</div>
