:host {
    .button-group {
        display: flex;
        flex-direction: row;
    }
    
    .to-main-button {
<<<<<<< HEAD
        margin-left: 10px;
=======
        margin: 0 0 0 10px;
>>>>>>> b1fb3c3 (Fixes Commit)
        border-radius: 2px;
    }
    
    .to-grid-button {
<<<<<<< HEAD
        margin-left: 10px;
=======
        margin: 0 0 0 10px;
>>>>>>> b1fb3c3 (Fixes Commit)
        border-radius: 2px;
    }
}