<div [formGroup]="filtersForm" 
     class="filter-task-container">
        <div class="sort-n-filters-field">
            <dx-select-box [dataSource]="prioritiesFilter"
                           [formControlName]="LFilterForm.PRIORITY_FILTER"
                           [valueExpr]="LIcon.VALUE"
                           [displayExpr]="LIcon.TEXT"
                           label="Фильтр по приоритету"
                           labelMode="static"
                           class="priority-filter-select-box"/>
            <div class="checkbox-group">
                <div class="checkbox-group-text">
                    Фильтр по статусу:
                </div>
                <span class="checkbox-text">активные</span>
                <dx-check-box [formControlName]="LFilterForm.STATUS_ACTIVE"/>
                <span class="checkbox-text">отменённые</span>
                <dx-check-box [formControlName]="LFilterForm.STATUS_CANCELED"/>
                <span class="checkbox-text">завершённые</span>
                <dx-check-box [formControlName]="LFilterForm.STATUS_COMPLETED"></dx-check-box>
            </div>
        </div>
        <div class="sorts">
            <app-custom-field-select-box [dataSourceForSelectBox]="dateSelect"
                                      [formControlNameForSelectBox]="LFilterForm.DATE_SORT"
                                      labelName="Сортировка по дате"
                                      className="date-sort-select-box"/>
            <app-custom-field-select-box [dataSourceForSelectBox]="prioritiesSortSelect"
                                      [formControlNameForSelectBox]="LFilterForm.PRIORITY_SORT"
                                      labelName="Сортировка по приоритету"
                                      className="priority-sort-select-box"/>
        </div>
        <dx-autocomplete [formControlName]="LFilterForm.SEARCH"
                         placeholder="Начните вводить текст задачи..."
                         label="Поиск задачи по тексту"
                         labelMode="static"
                         class="search-task-text-box"/>
    </div>